**/*.rs.bk
.#*
.gdb_history
target/

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json

# doc
*.pdf

# gen
test/protocol_pb2.py
__pycache__/
.pytest_cache/

#regs
*_regs.txt

# pdf
*.pdf
!maket.pdf
!STM32L433xx-short.pdf
!ARV v2.pdf